#navv{
	background-color: #ee8f1b;
}

.carousel{
	width:100%;
	height: auto;
}


#inici{
	width: 5rem;
}
#logo{
	width: 5rem;
}
#logo1{
	width: 7rem;
}
#historia{
	width: 5rem;
	margin-left: 2rem;
}
#navbarDropdownMenuLink{
	width: 9rem;
}

#text{
	margin-left: 3rem;
}

#footer{
	background-color: black;
	color: white;
	height:15rem;
}
#xarxes{
	position: 	relative;	
	display: flex;
	justify-content: center;
	margin-left: 12rem;
	margin-top: 2rem;
}
#contacte{
	position: 	relative;	
	text-align: right;
	margin-right: 	1rem;
	margin-bottom: 	0rem;
}
#maps{
 	margin-left: 4rem;
 }
 
 .nojugat{
     color: #0000ff;
 } 

 .guanyat{
     color: #00ff00;;
 }
 
  .perdut{
      color: #ff0000;
 }